# Java
*.class

# JD
debug*

# JD-GUI
src-generated/
jd-gui.cfg

# Idea
.idea/
out/
*.ipr
*.iml
*.iws

# Eclipse
.settings/
classes/
.classpath
.project

# Mac
.DS_Store

#Windows
Thumbs.db

# Maven
log/
target/

# Gradle
.gradle/
build/
!gradle/wrapper/*

# WinMerge
*.bak
